In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('IVE_광고적립.csv')
df.head()

,rwd_idx,ads_idx,ads_code,mda_idx,pub_sub_rel_id,dvc_idx,advid,click_key,show_cost,adv_cost,rwd_cost,earn_cost,click_date,regdate,ctit
0,238304818,413490,CFZ6lzEmeD,22,27496512,32947806,09b6a808-4f76-4584-87c5-626f21f472a0,b0e22dba943810794d25c993dff425c4e16d0744,190,190,120,120,2025-07-26 00:00:31,2025-07-26 00:05:02,271
1,238304829,413490,CFZ6lzEmeD,22,27496512,47387244,ba4fd0c8-4f06-4dfa-9c3f-c6b39ee7066e,0679ff4c6a14beba296e44d7ffdd88129f42ffbf,190,190,120,120,2025-07-26 00:00:32,2025-07-26 00:08:17,465
2,238304816,413490,CFZ6lzEmeD,22,27496512,32425124,64c675d0-8edd-4478-9906-a806651fdf92,68eb28d636724061da21e490a1afff6a39cd78f7,190,190,120,120,2025-07-26 00:00:42,2025-07-26 00:04:43,241
3,238304817,413490,CFZ6lzEmeD,22,27496513,34006545,a08ebb04-e70a-4492-89d4-17fa96bf8c75,37da42f12b6f732d8c8bf1a609c01e569b7f8a09,190,190,120,120,2025-07-26 00:00:54,2025-07-26 00:04:45,231
4,238304802,133653,rl8ud4uNQC,801,1,56867331,dbe54f40-41b5-4423-ae2f-048fd6ecf5af,624b1bbc57c9ea81005c74e1956d48e76d974816,260,260,97,195,2025-07-26 00:01:07,2025-07-26 00:02:04,57

# pub_sub_rel_id 컬럼 삭제

In [3]:
df.drop('pub_sub_rel_id', axis=1, inplace=True)

In [4]:
df.head()

,rwd_idx,ads_idx,ads_code,mda_idx,dvc_idx,advid,click_key,show_cost,adv_cost,rwd_cost,earn_cost,click_date,regdate,ctit
0,238304818,413490,CFZ6lzEmeD,22,32947806,09b6a808-4f76-4584-87c5-626f21f472a0,b0e22dba943810794d25c993dff425c4e16d0744,190,190,120,120,2025-07-26 00:00:31,2025-07-26 00:05:02,271
1,238304829,413490,CFZ6lzEmeD,22,47387244,ba4fd0c8-4f06-4dfa-9c3f-c6b39ee7066e,0679ff4c6a14beba296e44d7ffdd88129f42ffbf,190,190,120,120,2025-07-26 00:00:32,2025-07-26 00:08:17,465
2,238304816,413490,CFZ6lzEmeD,22,32425124,64c675d0-8edd-4478-9906-a806651fdf92,68eb28d636724061da21e490a1afff6a39cd78f7,190,190,120,120,2025-07-26 00:00:42,2025-07-26 00:04:43,241
3,238304817,413490,CFZ6lzEmeD,22,34006545,a08ebb04-e70a-4492-89d4-17fa96bf8c75,37da42f12b6f732d8c8bf1a609c01e569b7f8a09,190,190,120,120,2025-07-26 00:00:54,2025-07-26 00:04:45,231
4,238304802,133653,rl8ud4uNQC,801,56867331,dbe54f40-41b5-4423-ae2f-048fd6ecf5af,624b1bbc57c9ea81005c74e1956d48e76d974816,260,260,97,195,2025-07-26 00:01:07,2025-07-26 00:02:04,57

# 광고주 단가 1~4원 삭제 및 확인

In [5]:
idx = df[(df['show_cost'] >= 1) & (df['show_cost'] <= 4)].index
df.drop(idx , inplace=True)

In [6]:
df[(df['show_cost'] >= 1) & (df['show_cost'] <= 4)]

Empty DataFrame
Columns: [rwd_idx, ads_idx, ads_code, mda_idx, dvc_idx, advid, click_key, show_cost, adv_cost, rwd_cost, earn_cost, click_date, regdate, ctit]
Index: []

# 광고 단가 1~4원 삭제 및 확인

In [7]:
idx = df[(df['adv_cost'] >= 1) & (df['adv_cost'] <= 4)].index
df.drop(idx , inplace=True)

In [8]:
df[(df['adv_cost'] >= 1) & (df['adv_cost'] <= 4)]

Empty DataFrame
Columns: [rwd_idx, ads_idx, ads_code, mda_idx, dvc_idx, advid, click_key, show_cost, adv_cost, rwd_cost, earn_cost, click_date, regdate, ctit]
Index: []

# 참여일시, 참여완료일시 object -> datetime 변환

In [9]:
print('참여일시 변환 전:',df.click_date.dtype)
print('참여완료일시 변환 전:',df.regdate.dtype)
df['click_date'] = pd.to_datetime(df['click_date'])
df['regdate'] = pd.to_datetime(df['regdate'])
print('참여일시 변환 후:',df.click_date.dtype)
print('참여완료일시 변환 후:',df.regdate.dtype)

참여일시 변환 전: object
참여완료일시 변환 전: object
참여일시 변환 후: datetime64[ns]
참여완료일시 변환 후: datetime64[ns]

In [10]:
df.head()

,rwd_idx,ads_idx,ads_code,mda_idx,dvc_idx,advid,click_key,show_cost,adv_cost,rwd_cost,earn_cost,click_date,regdate,ctit
0,238304818,413490,CFZ6lzEmeD,22,32947806,09b6a808-4f76-4584-87c5-626f21f472a0,b0e22dba943810794d25c993dff425c4e16d0744,190,190,120,120,2025-07-26 00:00:31,2025-07-26 00:05:02,271
1,238304829,413490,CFZ6lzEmeD,22,47387244,ba4fd0c8-4f06-4dfa-9c3f-c6b39ee7066e,0679ff4c6a14beba296e44d7ffdd88129f42ffbf,190,190,120,120,2025-07-26 00:00:32,2025-07-26 00:08:17,465
2,238304816,413490,CFZ6lzEmeD,22,32425124,64c675d0-8edd-4478-9906-a806651fdf92,68eb28d636724061da21e490a1afff6a39cd78f7,190,190,120,120,2025-07-26 00:00:42,2025-07-26 00:04:43,241
3,238304817,413490,CFZ6lzEmeD,22,34006545,a08ebb04-e70a-4492-89d4-17fa96bf8c75,37da42f12b6f732d8c8bf1a609c01e569b7f8a09,190,190,120,120,2025-07-26 00:00:54,2025-07-26 00:04:45,231
4,238304802,133653,rl8ud4uNQC,801,56867331,dbe54f40-41b5-4423-ae2f-048fd6ecf5af,624b1bbc57c9ea81005c74e1956d48e76d974816,260,260,97,195,2025-07-26 00:01:07,2025-07-26 00:02:04,57

In [11]:
#df.to_csv('IVE_광고적립_전처리.csv', index=False)